
@{
    ViewBag.Title = "Bảo hành - SHN.com.vn";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    p {
        font-family: Arial;
        font-size: 16px;
    }

    th {
        border: 1px solid black;
        width: 200px;
        background-color: rgba(128, 128, 128, 0.60);
        font-size: 18px;
        font-weight: bold;
        height: 80px;
        padding-left: 2px;
    }

    tr, td, table {
        width: 200px;
        height: 80px;
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 2px;
    }
</style>
<div style="text-align:center">
    <h1 style="color:blue;font-weight:bold">CHÍNH SÁCH BẢO HÀNH</h1>
</div>
<br />
<p>
    <b>I. CHÍNH SÁCH 9 SAO</b><br /><br />
    * Miễn phí sử dụng trong 168 tiếng<br /><br />
    * Bảo hành 6 tháng (máy cũ)<br /><br />
    * Bảo hành 12 tháng (máy mới)<br /><br />
    * 1 đổi 1 trong 30 ngày<br /><br />
    * Bảo hành sạc, cáp trọn đời (II.5)<br /><br />
    * Bảo hành pin trọn đời máy theo tiêu chuẩn của SHN.com<br /><br />
    * Hỗ trợ nâng cấp phần mềm trọn đời<br /><br />
    * Vệ sinh máy trọn đời<br /><br />
    * Hỗ trợ sửa chữa máy sửa chữa máy với giá ưu đãi khi hết bảo hành<br /><br />
    <b>II. CHI TIẾT</b><br /><br />
    <b>1. Miễn phí sử dụng trong 168 tiếng</b><br /><br />
    • Khách hàng dùng thử sản phẩm trong 168 tiếng miễn phí (7 ngày).<br />
    • Tất cả điện thoại, máy tính bảng đã qua sử dụng.<br />
    • Quý khách hoàn toàn thoải mái trải nghiệm sản phẩm trong 7 ngày đầu tiên.<br />
    • Nếu sản phẩm bị lỗi hoặc không phù hợp với nhu cầu sử dụng, Quý khách có thể yêu cầu đổi 1 sản phẩm khác hoặc nhận lại 100% giá trị sản phẩm theo giá bán thời điểm hiện tại.<br />
    • <b>Lưu ý</b>: Máy đổi trả phải giữ nguyên hiện trạng ban đầu, không có dấu hiệu trầy cấn, móp, rơi vỡ, vào nước, dính tài khoản, mất vân tay và còn đầy đủ phụ kiện đi kèm.<br /><br />
    <b>*Áp dụng duy nhất 1 lần</b><br /><br />

    <b>2.Bảo hành 6 tháng 1 đổi 1 (đối với máy cũ)</b><br /><br />
    • Bảo hành sửa chữa thay thế linh kiện 6 tháng.<br />
    • Nguồn, màn hình bao test 15 ngày.<br />
    • Không bảo hành Lỗi vân tay, Lỗi phím home từ 7 trở lên và Face ID các dòng X trở lên. Màn hình chảy mực, vào nước, máy dập nát, cong main, ngoại hình trầy xước,…<br /><br />
    <b>  Bảo hành 12 tháng (đối với máy mới)</b><br /><br />

    • Bảo hành sửa chữa thay thế linh kiện 12 tháng.<br />
    • Bao test 1 đổi 1 trong 30 ngày nếu máy bị lỗi do NSX.<br />
    • Nguồn, màn hình bao test 15 ngày<br />
    • Không bảo hành Lỗi vân tay, Lỗi phím home từ 7 trở lên và Face ID các dòng X trở lên. Màn hình chảy mực, vào nước, máy dập nát, cong main,…<br />
    <br /><b>*BẢO HÀNH RƠI VỠ (Áp dụng cho máy mới và cũ, không áp dụng cho android)</b>: Khách mua muốn mua thêm gói bảo hành Rơi Vỡ (12 tháng) áp dụng cho màn hình và mặt kính sau (không hạn chế số lần, màn hình không chảy mực, màn hình còn lên nguồn và cảm ứng được, màn hình không vào nước, cong main, cong sườn). Giá trị gói 10% giá trị máy hiện tại. Điều kiện mua gói trong thời gian 15 ngày kể từ ngày mua máy.<br /><br />
    <b>3.Một đổi một trong 30 ngày</b><br /><br />
    • Một đổi một trong 30 ngày nếu xảy ra lỗi phần cứng mà Sang Mobile không khắc phục được.<br /><br />
    <b>4.Bảo hành sạc, cáp trọn đời</b><br /><br />
    • Mỗi khách hàng khi mua sạc cáp tại cửa hàng Sangmobile sẽ được bảo hành trọn đời với tình trạng không sạc được pin, không truyền được dữ liệu.<br />
    • Không bảo hành trường hợp đứt, cháy nổ cáp sạc.<br /><br />
    <b>5.Bảo pin trọn đời máy theo tiêu chuẩn của SHN</b><br /><br />
    • Pin dưới 70% trong phần cài đặt.<br />
    • Kỹ thuật kiểm tra pin bị chai.<br /><br />
    <b>6.Nâng cấp phần mềm trọn đời</b><br /><br />
    • Phần mềm được bảo hành trọn đời máy gồm nâng cấp iOS, cài đặt game ứng dụng.<br />
    • Không bảo hanh sao lưu dữ liệu của khách.<br /><br />
    <b>7.Vệ sinh máy trọn đời</b><br /><br />
    • Thường khách hàng sử dụng sẽ bị dơ ở phần loa, cổng kết nối với viền iphone X (Silver) sẽ trầy, các khe sẽ bám bụi. Vệ sinh miễn phí máy cho khách sẽ làm mới cho điện thoại khách sau 1 thời gian sử dụng.<br />
    <br /><b>8.Hỗ trợ sửa chữa máy sửa chữa máy với giá ưu đãi khi hết bảo hành</b><br /><br />
    • Tùy trường hợp, tình trạng máy cần sửa chữa thay thế sẽ có mức giá hỗ trợ cho khách hàng khi hết bảo hành.<br />
    • Đối với khách hàng cũ khi hết bảo hành sẽ có mức giá hỗ trợ 5-10%<br />
    • Đối với khách hàng còn trong bảo hành máy nhưng hết thời gian bảo hành nguồn, màn hình thì sẽ có mức giá hỗ trợ 10-15%.<br /><br />
    <b>III. QUY ĐỊNH VÀ CHÍNH SÁCH BẢO HÀNH TẠI SHN</b><br /><br />
    <b>1.QUY ĐỊNH ĐIỀU KIỆN ĐỔI TRẢ SẢN PHẨM TẠI SHN</b><br />
    <table style="width:100%;border:groove">
        <tr>
            <th>
                <b>LOẠI SẢN PHẨM</b>
            </th>
            <th>
                <b>ĐỔI MỚI MIỄN PHÍ (LỖI NSX)</b>
            </th>
            <th>
                <b>CHÍNH SÁCH NHẬP/TRẢ LẠI SẢN PHẨM</b>
            </th>
        </tr>
        <tr>
            <td>
                Máy Chính Hãng APPLE
            </td>
            <td>
                Trong trường hợp máy bị lỗi về phần cứng từ nhà sản xuất dựa trên kết quả từ trung tâm bảo hành Apple Việt Nam – Sangmobile sẽ sữa chữa và bảo hành đúng quy định bên nhà sản xuất.
            </td>
            <td>
                1.       Trong thời gian bảo hành, Sangmobile sẽ hỗ trợ khách làm việc bên nhà sản xuất để có máy trong thời gian sớm nhất.
                <br /><br />
                2.       Trong trường hợp khách có nhu cầu chuyển đổi máy, nâng cấp – Sangmobile sẽ hỗ trợ chính sách ưu đãi tốt nhất dành cho khách theo thỏa thuận.
            </td>
        </tr>
        <tr>
            <td>
                Máy xách tay mới
            </td>
            <td>
                30 ngày
            </td>
            <td rowspan="2">
                1.       1 đổi 1 với Sản Phẩm Tương Đương
                <br /><br />
                2.       Đối với máy mới Nguyên Seal, trong 30 ngày sử dụng phát sinh ra lỗi bên nhà sản xuất sẽ đổi cho khách 1 máy khác đã Active (có hình thức tương đương với máy của khách).
                <br /><br />
                3.       Trường hợp sản phẩm hết hàng, khách có thể đổi sang sản phẩm khác có giá trị 80% sản phẩm lỗi (Khách có thể bù hoặc nhận lại phần chênh lệch giá máy nếu có).
                <br /><br />
                4.       Trường hợp khách không muốn đổi sản phẩm khác. Sangmobile sẽ hoàn trả tối đa 85% giá trị máy với hình thức tương đương tại thời điểm hiện tại.
                <br /><br />
                5.       Đối với máy đã qua sử dụng, quý khách được dung thử miễn phí 168 tiếng đầu tiên.
                <br /><br />
                6.       Nguồn, màn hình bao test 15 ngày.
            </td>
        </tr>
        <tr>
            <td>
                Hàng Like New/Cũ
            </td>
            <td>
                30 ngày
            </td>
        </tr>
        <tr>
            <td>
                Gói bảo hành rơi vỡ
            </td>
            <td>
                15 ngày
            </td>
            <td>
                1.       Điều kiện mua gói bảo hành trong thời gian 15 ngày kể từ ngày mua máy.
                <br /><br />
                2.       Không hạn chế số lần rơi vỡ, không áp dụng cho Android.
                <br /><br />
                3.       Áp dụng cho mặt kính sau từ iPhone 8 trở lên.
                <br /><br />
                4.       Trường hợp màn hình chảy mực, màn hình không lên nguồn, màn hình không cảm ứng được không nằm trong phạm vi bảo hành.
            </td>
        </tr>
    </table>
    <br /><br />
    <b>
        2.PHẠM VI VÀ THỜI GIAN BẢO HÀNH SẢN PHẨM TẠI SHN
    </b><br /><br />
    <table style="width:100%;border:groove">
        <tr>
            <th>
                <b>Tên</b>
            </th>
            <th>
                <b>LOẠI SẢN PHẨM</b>
            </th>
            <th>
                <b>TÌNH TRẠNG SẢN PHẨM</b>
            </th>
            <th>
                <b>THỜI GIAN BẢO HÀNH MÁY</b>
            </th>
            <th>
                <b>PHẠM VI BẢO HÀNH MÁY</b>
            </th>
        </tr>
        <tr>
            <td rowspan="6">
                ĐIỆN THOẠI, IPAD
            </td>
            <td>
                Hàng Chính Hãng APPLE
            </td>
            <td>
                Máy Mới
            </td>
            <td>
                12 tháng
            </td>
            <td>
                Lỗi phần cứng bên NSX
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                Hàng Xách Tay của SHN
            </td>
            <td>
                Máy Mới
            </td>
            <td>
                12 tháng
            </td>
            <td rowspan="3">
                Các lỗi phần cứng: Sóng, Bluetooth, wifi, cảm biến, loa, chuông, mic, chân sạc, jack tai nghe, rung, phím âm lượng, phím nguồn, nút home.
            </td>
        </tr>
        <tr>
            <td>
                Máy Like New/Máy Cũ
            </td>
            <td>
                6 tháng
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Pin của các dòng sản phẩm APPLE
            </td>
            <td>
                Trọn đời máy theo tiêu chuẩn SHN
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Nguồn và màn hình
            </td>
            <td>
                Bao test 15 ngày
            </td>
            <td>
                Nguồn và Màn Hình Máy
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Bảo hành rơi vỡ
            </td>
            <td>
                365 ngày
            </td>
            <td>
                Khách mua muốn mua thêm gói bảo hành Rơi Vỡ (12 tháng) áp dụng cho màn hình và mặt kính sau (không hạn chế số lần, màn hình không chảy mực, màn hình còn lên nguồn và cảm ứng được, màn hình không vào nước, cong main, cong sườn). Giá trị gói 10% giá trị máy hiện tại. Điều kiện mua gói trong thời gian 15 ngày kể từ ngày mua máy.
            </td>
        </tr>
    </table><br />
    *Các sản phẩm đến bảo hành cần phải mang theo hóa đơn và đăng xuất khỏi tất cả tài khoản icloud, Samsung Account…
    <br /><br />
    *Lỗi điểm chết màn hình: từ 5 điểm trở lên hoặc 1 điểm chết phải lớn hơn 1mm.
    <br /><br />
    <b>3.NHỮNG TRƯỜNG HỢP KHÔNG NẰM TRONG PHẠM VI BẢO HÀNH</b><br /><br />
    • Lỗi nguồn: Mất nguồn, treo logo. Lỗi màn hình: sọc màn hình, không hiển thị, liệt cảm ứng sau 15 ngày bao test.<br /><br />
    • Lỗi vân tay. Lỗi phím home từ 7 trở lên và Face ID các dòng X trở lên. Màn hình đổ mực, vào nước, máy dập nát, cong main,…<br /><br />
    • Tự ý hack/crack, jailbreak hoặc các phầm mềm không phù hợp ở bất kỳ trường hợp nào không thuộc Sangmobile.<br /><br />
    • Tem bảo hành bị rách, bị dán đè hoặc bị sửa đổi, số Ime/serial của sản phẩm bị xóa hoặc mờ, mất.<br /><br />
    • Tự ý tháo, sữa chữa bởi bất kỳ trường hợp nào không thuộc Sangmobile.<br /><br />
    • Các vấn đề ngoại hình máy như tróc sơn, hở viền…<br /><br />
</p>

