
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    p {
        font-family: Arial;
        font-size: 16px;
    }
</style>
<div style="text-align:center">
    <h1 style="color:blue;font-weight:bold">GIỚI THIỆU</h1>
    <h1 style="color:blue">Cửa hàng điện thoại uy tín nhất Việt Nam SHNSTORE</h1>
</div>
<p>
    <b>Công ty TNHH TM SHNStore</b> luôn giữ vị trí số một trên thị trường thiết bị điện tử viễn thông của Việt Nam hiện nay-
    thương hiệu Sao Việt- một cái tên đã trở thành thân quen với hàng triệu khách hàng. Đặc biệt về dòng sản phẩm máy điện thoại
    - hãng Apple- Iphone SHN đang ngày càng khẳng định rõ vị trí vượt trội của mình!<br /><br />

    Đáp ứng nhu cầu ngày càng cao của thị trường về: nhu cầu sở hữu trong tay những chiếc điện thoại với nhiều tính năng mới,
    chất lượng cao, giá cả hợp lý,…<br /><br />

    kể từ khi bước chân vào thị trường viễn thông, SHN đã không ngừng nỗ lực, cố gắng để trở thành một trong những nhà cung cấp các
    dòng sản phẩm thiết bị viễn thông uy tín số một của Việt Nam.<br /><br />

    Để có được thành công đó, với khẩu hiệu: <b>“Uy Tín- Tạo Nên Thương Hiệu”</b>, bên cạnh đó Sao Việt tự hào khi có một đội ngũ nhân
    viên tư vấn, kỹ thuật, hướng dẫn, chăm sóc khách hàng năng động, nhiệt tình, luôn cố gắng, nỗ lực đem đến cho khách hàng những
    sản phẩm và dịch vụ tốt nhất. Đặc biệt sự tin tưởng, phản hồi tốt từ khách hàng về những sản phẩm điện thoại của SHN, lượng
    người truy cập vào các trang website,...là động lực để SHN ngày càng cố gắng hoàn thiện hơn nữa nhằm không ngừng đem đến cho
    khách hàng những dòng điện thoại cao cấp, tiện lợi và đẳng cấp!<br /><br />

    Hãy đến với thế giới thiết bị Viễn thông SHN để cảm nhận sự vượt trội!
</p>