
@{
    ViewBag.Title = "Liên hệ - SHN.com.vn";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    p {
        font-family: Arial;
        font-size: 16px;
    }

    b {
        font-weight: bold;
        font-size: 18px;
    }

    #map {
        width: 100%;
        height: 500px;
    }
</style>
<div style="text-align:center">
    <h1 style="color:blue;font-weight:bold">LIÊN HỆ</h1>
</div>
<div>
    <p>
        <b>THÔNG TIN LIÊN HỆ</b><br />
        SHN cam kết nỗ lực hết mình nhằm cung cấp sản phẩm và dịch vụ đúng với những giá trị mà khách hàng mong đợi.<br />
        Tư vấn mua hàng: 0899318725 (K.Hoàng)<br />
        Chăm sóc khách hàng: 0899318795 (T.Nga)<br />
        <br />
        <b>HỆ THỐNG SHOWROOM</b><br />
        <a>
            <img src="~/Images/location.png" width="25" />Chi nhánh Quận 10: 300 Đường 3/2, Phường 11, Quận 10, TP.HCM<br />
        </a>
        <a>
            <img src="~/Images/location.png" width="25" />Chi nhánh Gò Vấp: 72 Nguyễn Kiệm, Phường 3, Quận Gò Vấp, TP.HCM<br />
        </a>
        <a>
            <img src="~/Images/location.png" width="25" />Chi nhánh Bình Thạnh: 322 Phan Văn Trị, Phường 11, Quận Bình Thạnh, TP.HCM<br />

        </a>
    </p>
    <h4>Vị trí</h4>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0013727120827!2d106.67787670550952!3d10.81120607067293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528de2fc0076b%3A0x71e0ad74d63275ae!2zNzc4LzcyIE5ndXnhu4VuIEtp4buHbSwgUGjGsOG7nW5nIDMsIEfDsiBW4bqlcCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1552992460405" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>
<div style="text-align:center">
    <h3 style="color:blue;font-weight:bold">HỎI ĐÁP & NHẬN XÉT</h3>
</div>
<div id="fb-root"></div>
<div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2"></script>
    <div class="fb-comments" data-href="https://www.facebook.com/SHNStore-394953124666534/" data-numposts="5"></div>
</div>

